body {
  padding: 80px;
	overflow-y: scroll;
}

#login-form {
	text-align: center;
}

#login-form input {
	margin: 15px 0;
}

#challenge-text {
	font-size: 1.3rem;
	margin-right: 30px;
}

#loading-app {
	margin-top: 100px;
	font-size: 2.5rem;
	text-align: center;
	color: #777;
}
